body {
    background: url(http://www.corodecamaradeextremadura.es/img/fondo-otono.jpg);
    padding: center;
     display: block;
     text-align: center;
  }
  .title-textarea{
    color:whitesmoke;
  }